Source: ros-hydro-dynpick-driver
Section: misc
Priority: extra
Maintainer: Isaac IY Saito <iiysaito@opensource-robotics.tokyo.jp>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin, ros-hydro-geometry-msgs, ros-hydro-roscpp
Homepage: http://wiki.ros.org/dynpick_driver
Standards-Version: 3.9.2

Package: ros-hydro-dynpick-driver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-geometry-msgs, ros-hydro-roscpp
Description: ROS driver package for Wacohtech dynpick force sensor
